* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    padding-top: 100px;
    text-align: center;
}

.area {

    color: rgb(252, 39, 39);
}

#answer {
    padding-top: 10px;
}

label {
    display: block;
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    height: 30px;
    width: 200px;
}

input[type="button"] {
    height: 40px;
    width: 90px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 252, 0);

}